# @see: https://editorconfig.org/#file-format-details
[*.{js,jsx,ts,tsx,vue}]
charset = utf-8

end_of_line = lf
trim_trailing_whitespace = true

indent_style = space
indent_size = 2

insert_final_newline = true

[*.md]
trim_trailing_whitespace = false